* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#fff;
}

.main {
    width: 60%;
    margin: 50px auto;
}

.path {
    background-color: lightgray;
    padding: 12px;
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons a {
    padding: 5px;
    background-color: lightgray;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid lightseagreen
}

.files-container {
    margin-top: 10px;
}

.files-container a {
    display: block;
    background-color: lightseagreen;
    margin-bottom: 5px;
    padding: 10px;
    color: #fff;
}

.files-container .folder {
    text-decoration: underline;
}

.files-container .file {
    text-decoration: none;
}