* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#fff;
}

.main {
    width: 60%;
    margin: 50px auto;
}

.path {
    background-color: lightgray;
    padding: 12px;
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons a {
    padding: 5px;
    background-color: lightgray;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid lightseagreen
}

.newForm {
    display: none;
    Margin-top: 10px;
}

.newForm input {
    flex: 5;
    padding: 5px;
    font-size: 1rem;    
}

.newForm button {
    flex: 1;
    margin-left: 10px;
    cursor: pointer;
}

.error {
    background-color: tomato;
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

.files-container {
    margin-top: 10px;
}

.file-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.file-container .item {
    display: block;
    background-color: lightseagreen;
    padding: 10px;
    color: #fff;
    flex: 14;
}

.file-container .folder {
    text-decoration: underline;
}

.file-container .file {
    text-decoration: none;
}

.file-container .remove {
    flex: 1;
    text-align: center;
    background-color: tomato;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}