<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Manager</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main">
        <div class="path">{{ .UrlPath }} {{ if eq .UrlPath "/" }}(root){{ end }}</div>
        <div class="buttons">
            <a id="newFile" href="javascript:void(0)">New File</a>
            <a id="newFolder" href="javascript:void(0)">New Folder</a>
        </div>
        <form action="" class="newForm">
            <input type="text" name="name">
            <button type="submit">Enter</button>
            <button id="closeFormBtn" type="button">Kapat</button>
        </form>
        <div class="error"></div>
        <div class="files-container">
            {{ range .Files }}
                <a class="{{ if .IsDir }}folder{{ else }}file{{ end }}" href="{{ if .IsDir }}{{ if eq $.UrlPath "/" }}/{{.Name}}{{ else }}{{$.UrlPath}}/{{.Name}}{{ end }}{{ else }}javascript:void(0){{ end }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>